!!! 5

head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")

  title
    = Doug Chat

  script(src="/socket.io/socket.io.js")
  != css('style')
  != js('public')

body

  .wrapper

    #header
      .container
        .row
          .span2.span-mini
            .pull-right
              .logo
                img(src='img/chat_56.png')
          .span10
            .title
              h1
                |  Doug Chat
              

    #content
      .container
        != body

    .push
